%h1 Movements for #{@user.first_name}
- if @movements.nil?
  No movements.
  - if current_user.nil?
    Maybe you should sign in.
- else
  .aggregate
    .metric
      .label Most common time of day
      .value Unknown
    .metric
      .label Average weight
      .value #{@user.average_weight_pounds.round(2)} pounds
    .metric
      .label Average duration
      .value #{@user.average_duration.round} seconds
  %table.table.table-striped
    %th When
    %th Weight (lb)
    %th Duration (seconds)
    - @movements.each do |movement|
      %tr{class: ('verified' if movement.verified?)}
        %td
          = movement.happened_at.to_s(:long)
        %td
          = movement.weight_pounds.round(2)
        %td
          = movement.duration.round